/* static/scss/style.scss */
$body-font: Arial, sans-serif;
$header-bg-color: #f8f9fa;
$header-padding: 20px;
$logo-size: 50px;
$employee-list-margin: 30px;
$employee-list-padding: 10px;
$employee-list-border-color: #dee2e6;

body {
    font-family: $body-font;
}

.header {
    background-color: $header-bg-color;
    padding: $header-padding;
    text-align: center;

    img {
        width: $logo-size;
        height: $logo-size;
    }
}

.employee-list {
    margin: $employee-list-margin;
    padding: $employee-list-padding;
    border: 1px solid $employee-list-border-color;
}
