{% extends 'base.html' %}
{% block content %}
    <div class="employee_detail">
        <h1 class="mb-4">PROFILE EMPLOYEE</h1>
          <table class="table">
    <thead>
      <tr>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Position</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ employee.username }}</td>
        <td>{{ employee.first_name }}</td>
        <td>{{ employee.last_name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.position.title }}</td>
        <td>
          <td>
          {% if request.user.is_superuser %}
          <a href="{% url 'employee_update' employee.pk %}" class="btn btn-primary">Update</a>
          <a href="{% url 'employee_delete' employee.pk %}" class="btn btn-danger">Delete</a>
          {% endif %}
        </td>
    </div>
{% endblock %}

