{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <ul class="list-group">
            <li class="list-group-item d-flex">
                <div class="mr-15">Avatar :</div>
                {% if employee.avatar %}
                    <img src="{{ employee.avatar.url }}" alt="Avatar" width=100>
                {% else %}
                    <p>No avatar available</p>
                {% endif %}
            </li>
            <li class="list-group-item d-flex">
                <div class="mr-15">CV :</div>
                {% if employee.cv %}
                    <a href="{{ employee.cv.url }}">Download CV</a>
                {% else %}
                    <p>No CV available</p>
                {% endif %}
            </li>
            <li class="list-group-item d-flex">
                <div class="mr-15">Username :</div>
                <div>{{ employee.username }}</div>
            </li>
            <li class="list-group-item d-flex">
                <div class="mr-15">First name :</div>
                <div>{{ employee.first_name }}</div>
            </li>
            <li class="list-group-item d-flex">
                <div class="mr-15">Last name :</div>
                <div>{{ employee.last_name }}</div>
            </li>
            <li class="list-group-item d-flex">
                <div class="mr-15">Birth day :</div>
                <div>{{ employee.birth_date }}</div>
            </li>
            <li class="list-group-item d-flex">
                <div class="mr-15">Email :</div>
                <div>{{ employee.email }}</div>
            </li>
            <li class="list-group-item d-flex">
                <div class="mr-15">Phone number :</div>
                <div>{{ employee.phone_number }}</div>
            </li>
            <li class="list-group-item d-flex">
                <div class="mr-25">Is staff :</div>
                <input type="checkbox" value="" id="flexCheckChecked" disabled
                       checked={{ employee.is_staff }}>
            </li>
            <li class="list-group-item d-flex">
                <div class="mr-15">Position :</div>
                <div>{{ employee.position }}</div>
            </li>
            <li class="list-group-item d-flex">
                <div class="mr-15">Position department :</div>
                <div>{{ employee.position.department }}</div>
            </li>
            <li class="list-group-item d-flex">
                <div class="mr-15">Hire day :</div>
                <div>{{ employee.hire_date }}</div>
            </li>
            <li class="list-group-item d-flex">
                <div class="mr-15">Date joined :</div>
                <div>{{ employee.date_joined }}</div>
            </li>
            <li class="list-group-item d-flex">
                <div class="mr-15">Job Description :</div>
                <div>{{ employee.position.job_description }}</div>
            </li>
            <li class="list-group-item d-flex">
                <div class="mr-25">Is active :</div>
                <input type="checkbox" value="" id="flexCheckChecked" disabled
                       checked={{ employee.position.is_active }}>
            </li>
            <li class="pt-10">
                {% if request.user.is_superuser %}
                    <a href="{% url 'hr:employee_update' employee.pk %}" class="btn btn-primary">Update</a>
                    <a href="{% url 'hr:employee_delete' employee.pk %}" class="btn btn-danger">Delete</a>
                {% endif %}
            </li>
        </ul>
    </div>
{% endblock %}
