{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>{% trans "Enter New Password" %}</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.new_password1.errors }}
                {{ form.new_password1 }}
                {{ form.new_password2.errors }}
                {{ form.new_password2 }}
                <button type="submit" class="btn btn-primary">{% trans "Reset my password" %}</button>
            </form>
        </div>
    </div>
{% endblock %}
